<div class="jumbotron my-5" id="jumbo">
    <div class="container ">
        <div class="mycard">
            <div class="row">
                <div class="col-md-12">
                    <div class="myleftctn">
                        <form #form1="ngForm" class="myform text-center" (ngSubmit)="onSubmit(form1.value)" novalidate>
                            <header class="text-center">Director Details</header>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" #name='ngModel' ngModel name="name"
                                            [class.is-invalid]="name.invalid && name.touched" required
                                            class="form-control" id="myinput" placeholder=" Name">
                                        <small class="text-danger" [class.d-none]="name.valid || name.untouched"> name
                                            is required</small>
                                        <small class="text-danger" *ngIf='token'>Director already exists</small>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="number" #age="ngModel" required ngModel
                                            [class.is-invalid]="age.invalid && age.touched" name="age"
                                            class="form-control" id="myinput" placeholder="Age"
                                            (click)='invalidName(name.value)'>
                                        <small class="text-danger" [class.d-none]='age.valid || age.untouched'>age is
                                            required</small>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" #gender='ngModel' name="gender" ngModel class="form-control"
                                            minlength="6" id="myinput" placeholder="gender">
                                        <!-- <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">This is required</small> -->

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <!-- <label>Confirm Password </label> -->
                                        <input type="number" #awardCount='ngModel' name="awardCount" ngModel
                                            [class.is-invalid]="awardCount.invalid && awardCount.touched" required
                                            class="form-control"  id="myinput" placeholder="Award Count">
                                        <!-- <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">This is required</small> -->

                                    </div>
                                </div>
                            </div>
                            <!-- <div ngModelaGroup="Address"> -->




                            <br>

                            <button class="btn btn-dark " id="butt">Add director</button><br><br>
                            <h4 id="demo"></h4>
                            <h6>Go back to <a routerLink='/home'>Home</a></h6>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>