
.container{
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    justify-items: center;
    top: 50%;
    left: 50%;
    bottom:3%;
    transform: translate(-50%,-50%);
  }
#usr{
    width: 100%;
}
a:active {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:link {
    color: white;
  }